/**===================product-sub  Style=============================**/
.navbar-brand{
  padding-top: 0;
  margin-top: 0;
  margin-left: 150px;
}

.navbar-default{
background-color:white;

}

@media screen and (min-device-width: 768px) {
  .logo{
    margin-left: 150px !important;
  }

}
/**导航栏字体**/
.navbar-nav li a{
  color:black !important;
  font-weight: 600;
}
.navbar-collapse ul{
  margin-left: 213px;
}
.navbar-nav li{
  margin-right: 40px;
  border-right: 1px solid #FBF0DE;

}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
  background-color:white;
  border-bottom: 2px solid #452415;
}

.navbar-header{

}
.logo>img{
  width:inherit;
  height:inherit;

}
.navbar{
  border:none;
}

.product-banner{
   width:100%;
}

.product-menu{
  margin-top:20px;
  margin-left: 60px;
}

body > div > div > div.col-md-1.ative{
  background-color: #461F0B;
  color: white;
  text-align: center;
  border-radius: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.product-list{
  padding-top: 20px;
}

figure{
  width: 100%;
  padding-bottom: 100%;
  background-color:red;
}
figcaption{
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 8px;
  font-family: cursive;
}

.pagination{
  display: table;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

address{
  background-color:#E8D4AF;

}

.information{
  float:left;
  padding-top:30px;
  padding-bottom:30px;
  color:black;
}
.media{

  float:right;
}
.crcode{
  padding-top:30px;
  padding-bottom: 30px;
}

/***============================product-center Style===================****/
.product-view img{
  width:100%
}

.product-location {
  padding-left: 15px;
  margin-top:30px;
  margin-bottom: 30px;
}
.product-summary{
  padding-top: 70px;
}
.product-main-view{
  margin-bottom:20px;
}
.product-summary{
  font-size: 12px;
}